
body {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  justify-content: center;
  margin: 0;
}

#BodyBackground-left {
  bottom: 0;
  height: 500px;
  left: 0;
  position: absolute;
  width: 500px;
  z-index: 1;
}
#BodyBackground-right {
  bottom: 0;
  height: 500px;
  position: absolute;
  right: 0;
  width: 500px;
  z-index: 1;
}

.Page {
  align-items: center;
  background-color: #FAFAFA;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  max-width: 930px;
  z-index: 2;
}

.Page-Body {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 20px;
  width: 100%;
}

.Page-Body--vertical {
  display: flex;
  flex-direction: row;
}

.Page-BodyContent {
  background-color: white;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.4em;
  padding: 20px 30px;
}

h1 {
  border-bottom: 1px solid black;
  font-size: 24px;
  font-weight: lighter;
  line-height: 1em;
  margin: 0 0 15px 0;
  padding: 0;
}

.Page-Footer {
  padding-bottom: 10px;
}
