<div class="Header">
  <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/banner.jpg"></a>
  <ul class="Header-navigation">
    <li><a href="{{site.baseurl}}/">Home</a>
      <ul>
        <a href="{{site.baseurl}}/pages/about/fu_wenyan"><li>Fu Wenyan</li></a>
        <a href="{{site.baseurl}}/pages/about/dai_xiaolian"><li>Dai Xiaolian</li></a>
        <a href="{{site.baseurl}}/pages/about/david_wong"><li>David Wong</li></a>
        <a href="{{site.baseurl}}/pages/about/bonnie_lee"><li>Bonnie Lee</li></a>
        <a href="{{site.baseurl}}/pages/about/alan_yip"><li>Alan Yip</li></a>
      </ul>
    </li>
    <li><a href="{{site.baseurl}}/pages/music">Music</a>
      <ul>
        <a href="{{site.baseurl}}/pages/music/guqin"><li>Guqin</li></a>
        <a href="{{site.baseurl}}/pages/music/guzheng"><li>Guzheng</li></a>
      </ul>
    </li>
    <li><a href="{{site.baseurl}}/pages/tea">Tea Culture</a>
      <ul>
        <a href="{{site.baseurl}}/pages/tea/brewing"><li>Brewing</li></a>
        <a href="{{site.baseurl}}/pages/tea/gongfu"><li>Gongfu</li></a>
        <a href="{{site.baseurl}}/pages/tea/categories"><li>Categories</li></a>
      </ul>
    </li>
    <li><a href="{{site.baseurl}}/pages/education">Education</a>
      <ul>
        <a href="{{site.baseurl}}/pages/education/guqin"><li>Guqin Lessons</li></a>
        <a href="{{site.baseurl}}/pages/education/guzheng"><li>Guzheng Lessons</li></a>
        <a href="{{site.baseurl}}/pages/education/tea"><li>Tea Lessons</li></a>
      </ul>
    </li>
    <li><a href="{{site.baseurl}}/pages/events">Events</a>
      <ul>
        <a href="{{site.baseurl}}/pages/events/cultured_gathering"><li>Cultured Gathering</li></a>
      </ul>
    </li>
    <li><a href="{{site.baseurl}}/pages/gallery">Gallery</a></li>
  </ul>
</div>
