<link rel="stylesheet" href="css/header.css">
<div class="Header">
  <img src="img/banner.jpg">
  <ul class="Header-navigation">
    <li><a href="/">Home</a>
      <ul>
        <a href="/about/fu_wenyan"><li>Fu Wenyan</li></a>
        <a href="/about/dai_xiaolian"><li>Dai Xiaolian</li></a>
        <a href="/about/david_wong"><li>David Wong</li></a>
        <a href="/about/bonnie_lee"><li>Bonnie Lee</li></a>
        <a href="/about/alan_yip"><li>Alan Yip</li></a>
        <a href="/about/qin_sheng"><li>Qin Sheng</li></a>
      </ul>
    </li>
    <li><a href="/music">Music</a>
      <ul>
        <a href="/music/guqin"><li>Guqin</li></a>
        <a href="/music//guzheng"><li>Guzheng</li></a>
      </ul>
    </li>
    <li><a href="/tea">Tea Culture</a>
      <ul>
        <a href="/tea/brewing"><li>Brewing</li></a>
        <a href="/tea/gongfu"><li>Gongfu</li></a>
        <a href="/tea/categories"><li>Categories</li></a>
      </ul>
    </li>
    <li><a href="/education">Education</a>
      <ul>
        <a href="/education/guqin"><li>Guqin Lessons</li></a>
        <a href="/education/guzheng"><li>Guzheng Lessons</li></a>
        <a href="/education/tea"><li>Tea Lessons</li></a>
      </ul>
    </li>
    <li><a href="/events">Events</a>
      <ul>
        <a href="/events/cultured_gathering"><li>Cultured Gathering</li></a>
      </ul>
    </li>
    <li>Gallery</li>
  </ul>
</div>
