.Index-People {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.Index-People a {
  flex: 1 1 auto;
  text-decoration: none;
}
.Index-People a:hover {
  text-decoration: underline;
}

.Index-Contact {
  display: flex;
  flex-direction: row;
}

.Index-ContactLeft,
.Index-ContactRight {
  flex: 1 1 auto;
}
