.tea_categories {
    .tea_type {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    img {
        height: 120px;
        margin-right: 10px;
    }
    p {
        margin: 0;
    }
}