<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="shortcut icon" href=""> -->
    <link rel="stylesheet" href="css/site.css">

    <title>TRS</title>
  </head>
  <body>
    <div id="BodyBackground-left"></div><div id="BodyBackground-right"></div>
    <div class="Page">
      {% include header.html %}
      {% include header_image.html image=page.headerImage %}
      <div class="Page-Body">
        <div class="Page-BodyContent">
          {{content}}
        </div>
      </div>
      <div class="Page-Footer">
        &copy; Tranquil Resonance Studio 2017
      </div>
    </div>
  </body>
</html>
