<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="shortcut icon" href=""> -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/site.css">

    <title>Tranquil Resonance Studio</title>
  </head>
  <body>
    <div id="BodyBackground-left">
      <img src="{{site.baseurl}}/img/bamboo_left.jpg">
    </div>
    <div id="BodyBackground-right">
      <img src="{{site.baseurl}}/img/bamboo_right.jpg">
    </div>
    <div class="Page">
      {% include header.html %}
      <div class="Page-Body {% if page.verticalHeader != null %}Page-Body--vertical{% endif %}">
        {% include header_image.html image=page.headerImage verticalClass=page.verticalHeader %}        
        <div class="Page-BodyContent">
          {{content}}
        </div>
      </div>
      <div class="Page-Footer">
        &copy; Tranquil Resonance Studio 2017
      </div>
    </div>
  </body>
</html>
